<p>
  TweetGen is a simple app that lets you get a glance at what people think in a certain country.
  <br> You just need to select a country and we'll make a tweet for you.
  <br> In order to start click on 'Generate'.
</p>

<div class="icons-animation">
  <div style="width: 150px;" [ngClass]="showDocuments ? 'animated fadeInLeft' : ''" [hidden]="!showDocuments">
    <span class="edgeicon icon-document document"></span>
    <span class="edgeicon icon-document document"></span>
    <span class="edgeicon icon-document document"></span>
    <span class="edgeicon icon-document document"></span>
    <span class="edgeicon icon-document document"></span>
  </div>

  <div style="width: 130px; padding-top: 10px;" [ngClass]="showArrow ? 'animated fadeInLeft' : ''" [hidden]="!showArrow">
    <span class="edgeicon icon-arrow-right arrow"></span>
  </div>

  <div style="padding-top: 17px;" [ngClass]="showText ? 'animated fadeInLeft' : ''" [hidden]="!showText">
    <span class="edgeicon icon-text text"></span>
  </div>
</div>

<div style="text-align: right; padding-right: 5px;">
  <a href="/Generate">
    <button class="button primary-button" type="button">
      Generate
      <span class="edgeicon icon-double-arrow-right"></span>
    </button>
  </a>
</div>